:root {
	// colors
	
	--color-light-black: #2e2e2e;
	--color-buttons: rgba(255, 255, 255, 0.1);
	--color-shadows: #f9f9f9;
	--color-text: #fff;
	--color-line: #fff;
	
	// theme-icons
	
	--theme-button: url('../assets/icons/themes/moon.svg'); 
	--theme-invert: invert(1);

	
	// backgrounds
	
	--theme-bg: url('../assets/backgrounds/background-dark.svg'); 
	--theme-photo: #fff;
}