:root {
		
	// colors
	
	--color-black: #000;
	--color-white: #fff;
	--color-red: red;
	--color-shadows: #2e2e2e;
	--color-buttons: rgba(0, 0, 0, 0.05);
	
	// theme-icons
	
	--theme-button: url('../assets/icons/themes/sun.svg'); 
	--theme-invert: invert(0);
	--color-text: #000;
	--color-theme-change: #fff;
	--color-line: #000;
	
	// backgrounds
	
	--theme-bg: url('../assets/backgrounds/background-light.svg'); 
	--theme-photo: #000;
	
	// Properties
	
	.flex {
		display: flex;
	}
	
	.align-center {
		align-items: center;
	}
	
	.justify-center {
		justify-content: center;
	}
}